<form method="POST" action="home">
  <textarea type="text" id="newPost" name="[post]text" placeholder="My Freakin' Commute"></textarea>
  <br>
  <input type="submit" id="submit" value="Freakin' Tell Me About It">
</form>

<div>
  <% @posts do |post| %>
    <%= post.content %>
  <% end %>
</div>