<form action="/home" method="POST">
  <textarea type="text" id="newPost" name="[post]text" placeholder="My Freakin' Commute"></textarea>
  <br>
  <input type="submit" id="submit" value="Freakin' Tell Me About It">
</form>

<div>
  <%= @post %>
</div>

