<h1 class = "pagehead"> Log the Freakin' on</h1>

<form method="POST" action="/">
  <input type="text" id="username" name="username" placeholder="Freakin' Username"><br>
  <input type="password" id="password" name="password" placeholder="Freakin' Password"><br>
  <input type="submit" id="submit" value="Log Freakin' In">
</form>
