<h1 class = "pagehead"> Log Freakin' In</h1>

<form method="POST" action="/">
  <input type="text" id="username" name="username" placeholder="Freakin' Username" required><br>
  <input type="password" id="password" name="password" placeholder="Freakin' Password" required><br>
  <input type="submit" id="submit" value="Log Freakin' In">
</form>
