<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>My Freakin' Commute</title>
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/main.css"> 
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
  </head>
  <body>
    <header>
      <a href="/"><img id="logo" src="/assets/mfc_logo.png"/></a>
      <h1>
        My Freakin' Commute
      </h1>    
    </header>
 
  <% if session[:user_id] %>
    <nav>
      <a href="/">Doors Closing</a>
      <a href="/home">Showtime</a>
      <a href="/edit">Station Transfer</a>
      <a href="/mta-status">MTA STATUS</a>
      <a href="/users">My Freakin' Stop</a>
    </nav>
    <form id="friendSearch" action="/users" method="GET">
          <!-- <input type="hidden" name="_method" value="GET"> -->
          <input type="text" name="user[name]" placeholder="Find a Freakin' Friend">
    </form>
  <% else %>
    <nav>
      <a href="/sign-up">Sign up</a>
      <a href="/mta-status">MTA STATUS</a>
    </nav>
  <% end %>
    <main>

      <% if flash[ :notice] %>
        <div class="flash notice">
          <%= flash[ :notice] %>
        </div>
      <% end %>
      
      <% if flash[ :alert] %>
        <div class="flash alert">
          <%= flash[ :alert] %>
        </div>  
      <% end %>
        
      <%= yield %>
      
    </main>
  </body>
</html>