<!DOCTYPE html>
<html>
<head>
  <title>My Freakin Commute</title>
  <link rel="stylesheet" type="text/css" href="main.css">
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>
</body>
</html>