<style>
  body {
    background-image: url("assets/nysubwaymap.png");
    background-repeat: none;
    background-size: cover;
    margin-right: -20px; 
  }
</style>

<h1 class = "pagehead">What's Freakin' Up?</h1>

<div class = "widget">
  <script type="text/javascript" src="http://www.mta.info/sites/all/libraries/mta_WidgetScripts/serviceStatusWidget.js"></script>
</div>
