<h1 class = "pagehead"> Sign Freakin' Up</h1>

<form method="POST" action="/sign-up">
  <input type="text" id="username" name="username" placeholder="Freakin' Username" required><br>
  <input type="password" id="password" name="password" placeholder="Freakin' Password" required><br>
  <input type="password" id="ver_password" name="ver_password" placeholder="Verify Freakin' Password" required><br>
  <input type="email" id="email" name="email" placeholder="Freakin' Email" required><br>
  <input type="text" id="fname" name="fname" placeholder="Freakin' First Name" required><br>
  <input type="text" id="lname" name="lname" placeholder="Freakin' Last Name"><br>
  <input type="date" id="birthday" name="birthday" placeholder="Freakin' Birthday"><br>
  <input type="text" id="station" name="station" placeholder="Freakin' MTA Stop"><br>
  <textarea type="text" name="bio" id="bio" placeholder="Who the freak are you?" cols="30" rows="15"></textarea><br>
  Your Freakin' Mug: <input type="file" id="image" name="image" accept="image/*"><br>
  <input type="submit" id="submit" value="Sign Freakin' Up">
</form>