<form method="POST" action="/sign-up">
  <input type="text" id="username" name="username" placeholder="Freakin' Username"><br>
  <input type="password" id="password" name="password" placeholder="Freakin' Password"><br>
  <input type="password" id="ver_password" name="ver_password" placeholder="Verify Freakin' Password"><br>
  <input type="text" id="email" name="email" placeholder="Freakin' Email"><br>
  <input type="text" id="fname" name="fname" placeholder="Freakin' First Name"><br>
  <input type="text" id="lname" name="lname" placeholder="Freakin' Last Name"><br>
  <input type="text" id="birthday" name="birthday" placeholder="Freakin' Birthday"><br>
  <input type="text" id="station" name="station" placeholder="Freakin' MTA Stop"><br>
  <textarea type="text" name="bio" id="bio" placeholder="Who the freak are you?" cols="30" rows="15"></textarea><br>
  <input type="submit" id="submit" value="Sign Freakin' Up">
</form>
